apiVersion: karpenter.k8s.aws/v1beta1
kind: EC2NodeClass
metadata:
  name: default
spec:
  amiFamily: AL2 # Amazon Linux 2
  role: ${cluster-karpenter-node-role} # replace with your cluster name
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: ${cluster-name} # replace with your cluster name
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: ${cluster-name} # replace with your cluster name
  amiSelectorTerms:
    - id: "${arm-id}" #
    - id: "${amd-id}" #
#   - id: "ami-0d12d08af999a0776" # <- GPU Optimized AMD AMI  #gpu
#   - name: "amazon-eks-node-1.29-*" #
  tags:
    Name: Karpenter-Node-${cluster-name}
    Owner: ${tag_owner}
    Environment: ${tag_env}
    Application: ${tag_application}
    Project: ${tag_project}
    